# Builds
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.aab

# Web
web/.dart_tool/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.packages
pubspec.lock
